// HEADER
header {
    padding: 20px 0;
    background-color: $header-footer-bg-color;

    .container {
        display: flex;
        flex-flow: column wrap;

        .top-header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;

            ul {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                align-items: baseline;

                li {
                    padding: 0 10px;
                    color: $header-footer-gray-text-color;
                }
            }
        }

        .down-header {
            ul {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: baseline;

                li {
                    padding: 0 25px;

                    font-size: 1.1rem;
                    color: white;

                    &:first-child {
                        padding-left: 0;
                    }

                    img {
                        height: 30px;
                    }                    
                }  
            }
        }
    }
}

// MAIN
// Jumbotron
.jumbotron {
    background-image: url('img/bg-painter-home.jpg');
    background-size: 2000px;
    background-position: 100% 50%;
    height: 500px;

    .jumbo-text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        height: 500px;

        .jumbo-claim {
            display: flex;
            flex-flow: column wrap;

            width: 40%;

            img {
                width: 300px;
            }
            span {
                margin-top: 25px;

                font-size: 2rem;
                font-weight: 300;
            }
        }

        .jumbo-offer {
            margin: 40px 0;
            color: $jumbo-offer-text-color;

            h3 {
                font-size: 1.6rem;
                font-weight: 400;
                font-style: italic;

            }
            span {
                font-size: 1.6rem;
                font-weight: 200;
                font-style: italic;
            }
        }

        .jumbo-btns {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;

            .solid-btn {
                @include jumbo-btns;

                margin-right: 25px;

                color: white;
                background-color: $header-footer-bg-color;
            }

            .empty-btn {
                @include jumbo-btns;

                color: black;
                border: 2px solid black;
            }
        }
    }
}

// Main possibilities
// Cards
#more-possibilities {
    display: flex;
    flex-flow: column nowrap;

    padding-top: 50px;

    background-color: $body-bg-color;

    h2 {
        text-align: center;
        font-size: 3rem;
        font-weight: 200;
    }

    .cards-wrapper {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 1 auto;
        justify-content: center;

        margin-top: 30px;
        margin-bottom: 80px;
        
        .card {
            display: flex;
            flex-flow: column nowrap;
            flex: 1 0 31%;

            &:nth-child(2) {
                margin: 0 2%;
            }

            img {
                width: 100%;
            }

            .card-text {
                padding: 25px 20px;

                background-color: $card-bg-color;

                h3 {
                    span {
                        font-size: 1.5rem;
                            font-weight: 400;
    
                            color: black;
                        strong {
                            font-size: 1.5rem;
                            font-weight: 400;
                            font-style: italic;
    
                            color: $header-blue-icon-color;
                        }
                    }
                }

                p {
                    padding: 20px 0;
                    font-size: 1.3rem;
                    font-weight: 200;
                    line-height: 2rem;
                }

                a {
                    font-size: 1.3rem;
                    font-weight: 200;
                    color: $header-blue-icon-color;
                }
            }
        }
    }

    .learn-more-wrapper {
        display: flex;
        flex-flow: row wrap;

        .learn-more {
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 50%;

            position: relative;

            height: 300px;

            color: white;

            &.text{
                padding: 60px 50px;
                h3 {
                    font-size: 2.5rem;
                    font-weight: 400;
                }
    
                p {
                    margin: 20px 0;
    
                    font-size: 1.5rem;
                    font-weight: 200;
                    line-height: 2.8rem;
                }

                a {
                    @include learn-more-btns;
                    color: black;
                    background-color: white;
                }
            }
            &.purple {
                background-color: $purple-bg-learn-color;
            }
            &.gray {
                background-color: $gray-bg-learn-color;
            }
            &.blue {
                background-color: $blue-bg-learn-color;
            }

            img {
                height: 100%;
            }

            img.wacom-overlay {
                position: absolute;
                left: 15px;

                width: 450px;
            }
        }
    }
}

// First Footer
#first-footer {
    padding: 40px 0;

    background-color: $first-footer-bg-color;
    .footer-wrapper {
        .top-first-footer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            
            ul {
                flex: 1 0 25%;
    
                li {
                    margin-bottom: 10px;

                    &:first-child {
                        margin-bottom: 15px;
                    }
                    &:first-child a{
                        font-size: 1.3rem;
                    }
                }
    
                li a {
                    color: black;
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
        }
    
        .first-down-footer {
            ul {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;

                li {
                    margin: 0 5px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a{
                        font-size: 3rem;
                        color: $blue-bg-learn-color;
                    }
                }
            }
        }
    }
}