// COLORS
// Header / footer common
$header-footer-bg-color: #101010;
$header-footer-gray-text-color: #716F74;
$header-blue-icon-color: #009CFF;

// Jumbotron
$jumbo-offer-text-color: #CC15B3;

// Cards
$body-bg-color: #E8E8E8;
$card-bg-color: #FFFFFF;

// Learn more
$purple-bg-learn-color: #3C1567;
$gray-bg-learn-color: #3C3C3C;
$blue-bg-learn-color: #0072BC;

// Footer
$first-footer-bg-color: #ECECEC;

// - - - - - - - - - - - - - - -

// Padding / Margin
$btn-padding: 10px 35px;

// - - - - - - - - - - - - - - -

// MIXINS
@mixin container-width {
    width: 60%;
    margin: auto;
}

@mixin jumbo-btns {
    padding: $btn-padding;
    font-size: 1.8rem;
    font-weight: 300;
}